*{
    box-sizing: border-box;
}


body{
    background-color: rgb(83, 83, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.braco{
    display: flex;
    border-top: solid 2px black;
}

.coluna{
    width: 60px;
    height: 300px;
    background-color: white;
    border: solid 1px black;
}


.linha{
    display: flex;
    width: 100%;
    height: 60px;
}

.casa{
    border-bottom: solid 1px black;
    height: 60px;
    width: 100%;
}

.builder-container{
    display: flex;
}

.afinacao{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
}


.openNote-container{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
}

.openNote-holder{
    cursor: pointer;
    width: 18px;
}

.openNote-bola{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    margin-top: 8px;
    display: none;
    transition-duration: 0.3s
}


.openNote-span{
    transition-duration: 0.3s
}



.dis-block{
    display: block;
}

.dis-none{
    display: none;
}

.vis-hidden{
    visibility: hidden;
}


.nota-container{
    position: relative;
    display: block;
    right: 0px;
    left: -8px;
    width: 15px;
    height: 15px;
    top: 20px;
    cursor:pointer;
}

.nota{
    position: relative;
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    font-size: 0px;
    border-radius: 10px;
    transition-property: opacity;
    transition-duration: 0.3s
    
}

.nota-container-direita{
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 51px;
    cursor:pointer;

}

.hidden{
    opacity: 0
}

.nota-container-direita:hover .nota{
    opacity:1;
}
.nota-container:hover .nota{
    opacity:1;
}

.numeroCasas-container{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    padding-top: 55px;
    width: 45px;
    align-items: center;
}

.numeroCasas-container > span {
    height: 60px;
    color: white;
}


.range-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-right: 15px;
}

.range-container > span:nth-child(2){
    background-color: #fff;
    color: black;
    text-align: center;
    font-size: 25px;
    border: solid 1px black;
    width: 40px;
    padding: 2px;
    cursor:default;
}



.dis-none{
    display: none;
}

.notasSelecionadas-holder{
    display: flex;
    flex-direction: column;
    color: white;
    cursor: default;
}

.selecaoContainer{
    padding: 39px 0px 27px 20px;
    width: 260px;
}

.acordeResultado{
    color:white;
    font-size: 20px;

}

.c-default{
    cursor: default;
}

.acordeBTN{
    cursor: pointer;
}

.seta{
    cursor:pointer;
    text-align: center;
}