*{
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.abas-header button{
    width: 240px;
    padding: 7px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 900;
}

.abas-header button:nth-child(1){
    margin-right: 20px;
}

.abas-header button:nth-child(3){
    margin-left: 20px;
}

h1 {
    color: white;
    font-size: 55px;
}


.divisor{
    height: inherit;
    border-right: 3px dashed white;
    margin: 0px 10px 0px 10px;
}

body{
    background-color: rgb(83, 83, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    flex-direction: column;
}

.braco{
    display: flex;
    border-top: solid 2px black;
}

.coluna{
    width: 55px;
    height: 280px;
    background-color: white;
    border: solid 1px black;
}


.linha{
    display: flex;
    width: 100%;
    height: 60px;
}

.casa{
    border-bottom: solid 1px black;
    height: 56px;
    width: 100%;
}

.builder-container{
    display: flex;
    margin-top: 55px;
    width: 1000px;
}

.afinacao{
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    color: white;
}


.openNote-container{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
}

.openNote-holder{
    cursor: pointer;
    width: 18px;
    height: 25px;
}

.openNote-bola{
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    margin-top: 8px;
    transition-duration: 0.3s
}


.openNote-span{
    transition-duration: 0.3s
}



.dis-block{
    display: block;
}

.dis-none{
    display: none;
}

.vis-hidden{
    visibility: hidden;
}


.nota-container,.nota-container-B{
    position: relative;
    display: block;
    right: 0px;
    left: -8px;
    width: 15px;
    height: 15px;
    top: 20px;
    cursor:pointer;
}

.nota{
    position: relative;
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
    font-size: 0px;
    border-radius: 10px;
    transition-property: opacity;
    transition-duration: 0.3s
    
}

.nota-container-direita,.nota-container-direita-B{
    position: relative;
    display: block;
    width: 15px;
    height: 15px;
    top: 5px;
    left: 46px;
    cursor:pointer;

}

.hidden{
    opacity: 0
}

.nota-container-direita:hover .nota{
    opacity:1;
}
.nota-container:hover .nota{
    opacity:1;
}

.numeroCasas-container{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    padding-top: 55px;
    width: 45px;
    align-items: center;
}

.numeroCasas-container > span {
    height: 56px;
    color: white;
}


.range-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-right: 15px;
}

.range-container > span:nth-child(2){
    background-color: #fff;
    color: black;
    text-align: center;
    font-size: 20px;
    border: solid 1px black;
    width: 40px;
    padding: 2px;
    cursor:default;
}



.dis-none{
    display: none;
}

.notasSelecionadas-holder{
    display: flex;
    flex-direction: column;
    color: white;
    cursor: default;
}

.selecaoContainer{
    padding: 39px 0px 27px 20px;
    width: 260px;
}

.acordeResultado{
    color:white;
    font-size: 20px;

}

.c-default{
    cursor: default;
}

.acordeBTN{
    cursor: pointer;
}

.seta{
    cursor:pointer;
    text-align: center;
}

.labelNome{
    display: block;
    color: white;
    font-size: 18x;
}

.inputNome-holder{
    display: flex;
    position: relative;
}

.inputNome-holder i {
    line-height: unset;
    vertical-align: unset;
}

.inputNome-holder input{
    width: 150px;
    font-size: 16px;
}

.listaInput {
    margin: unset;
    padding: unset;
    background-color: #fff;
    width: 148px;
    list-style: none;
    position: absolute;
    top: 28px;
    left: 1px;

}

.listaInput li {
    cursor: pointer;
    border-bottom: solid 2px black;
}

.saveContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-salvaAcorde{
    padding: 10px;
    width: 100%;
}

.textoSave{
    color: white;
    width: 150px;
}

.container-acordes{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.div-acorde{
    width: 25%;
}

.btn-acorde{
    width: 100%;
    padding: 20px;
}

.acorde-container > div{
    width: 38%;

}

.acorde-container{
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: center;
}

.pointer{
    cursor: pointer;
}

.div-info h2{
    font-size: 35px;
    margin-top: 0px;
}

.padding-t{
    padding-top: 13px;
}

.white{
    color: white;
}

.div-display{
    display: flex;
}

.atual{
    border: 2px solid white;
    color: white;
    background: #313131;
}